{% extends 'base.html' %}
{% load static %}
{% block title %}Lista de Cadastros{% endblock %}
{% block content %}
<div class="container py-5">
    <div class="card shadow-sm">
        <div class="card-header bg-primary text-white">
            <h4 class="mb-0">Lista de Cadastros</h4>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-striped align-middle">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Nome / Razão Social</th>
                            <th scope="col">CPF / CNPJ</th>
                            <th scope="col" class="d-none d-sm-table-cell">Telefone</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for cadastro in cadastros %}
                        <tr>
                            <th scope="row">{{ forloop.counter }}</th>
                            <td>
                                <a href="{% url 'listar_unico_cadastro' cadastro.id %}" class="text-decoration-none">
                                    {{ cadastro }}
                                </a>
                            </td>
                            <td>{{ cadastro.cpf_cnpj }}</td>
                            <td class="d-none d-sm-table-cell">{{ cadastro.telefone_1 }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
